/**
    Predefined colour pallette allow us to keep the style consistent throughout our app.
    (ofc the colours may change here's just something to start with)
    More about variables in Sass: https://sass-lang.com/documentation/variables
    Useful tool for color picking: https://material.io/resources/color/#!/?view.left=0&view.right=0
*/

$primary: #c5cae9;
$onPrimary: #30312a;
$secondary: #283593;
$onSecondary: #fcfcfc;
$background: #ede6e3;
$oBackground: #30312a;
