/**
    Predefined colour pallette allow us to keep the style consistent throughout our app.
    (ofc the colours may change here's just something to start with)
    More about variables in Sass: https://sass-lang.com/documentation/variables
    Useful tool for color picking: https://material.io/resources/color/#!/?view.left=0&view.right=0
*/

$primary: #DA0063;
$onPrimary: #fcfcfc;
$secondary: #272e63;
$onSecondary: #fcfcfc;
$background: #fcfcfc;
$backgroundGray: #c9c9c9;
$onBackground: #040400;
