@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../style/colors";
@import "../style/mixins";

.home {
	display: flex;
	flex-direction: column;
}

.home__message {
	font-size: 48px;
	padding-top: 10vh;
	margin: 1rem;
	opacity: 0;
	@include transition-ease;

	&:hover {
		color: $secondary;
		opacity: 1;
		@include transition-ease;
	}
}

.home__button {
	font-size: 24px;
	padding: 1rem 3rem;
	margin: auto;
}

.home__hello {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 64px;
}
