@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../style/colors";

.login {
	display: flex;
	height: 100vh;
	align-content: center;
}

.login form {
	margin: auto;
	max-width: 30vw;
}

.login__input {
	margin: 1rem;
}

.login__buttons {
	align-items: center;
	justify-content: center;
}

.login__button {
	background-color: $secondary;
	margin: 1rem 2rem;
	cursor: pointer;

	&:disabled {
		background-color: $secondary;
		opacity: 0.6;
	}
}

.login__buttons--secondary {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login__button--secondary {
	color: $secondary;
	cursor: pointer;
}
