@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../style/colors";


.login {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	align-content: center;
}

.login__form {
	margin: auto;
	max-width: 30vw;
}

.login__buttons {
	display: flex;
	justify-content: center;
}

.login__button {
	background-color: rebeccapurple;
	background-color: $primary !important;
	border: 0px !important;
	margin: 1rem 1rem;
	cursor: pointer;

	&:disabled {
		background-color: $primary !important;
		border: 0px !important;
		opacity: 0.6;
	}

	&:active {
		outline: none !important;
	}
}


.login__footer {
	display: flex;
	height: 100%;
	flex: 1;
	flex-direction: column-reverse;
}

.login__footer__items {
	display: flex;
	flex: 1;
}
