@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../style/colors";

.user {
	height: 100%;
	align-content: center;
}

.user__badge {
	padding: 7px;
	margin: 10px;
	background-color: $primary !important;
}

.user__header {
	padding: 5px;
	justify-content: space-around;
}

.user__menu {
	margin: auto;
	margin-top: 3vh;
	max-width: 30vw;
}
